.dual-call-to-action.overlay-dark-5
  .container-fluid
    .intro
      .row
        .col-md-6.col-sm-6.left
        .col-md-6.col-sm-6.right
          %p.text-center Super mario world
          %h2.text-center I believe I can fly desert storm
          .buttons
            %a.btn.btn-default.btn-readmore{:href => "#", :role => "button"} Learn More
        .clearfix
