.instafeed
  .container-fluid
    .row.headline
      .col-sm-12.heading
        %p.text-center Stay in the Know
        %h2.text-center FOLLOW US
    .row
      .col-md-12
        %ul#instafeed.list-inline.list-unstyled.text-center{"data-access-token" => "3313247884.8d186ee.e6271b972d1141129c68696535ee4464", "data-amount" => "8", "data-user-id" => "3313247884"}
          %li
