.highlight-post.overlay-dark-5
  .container-fluid
    .intro
      %p.text-center.animated.fadeInDown мы предлагаем
      %h2.text-center.animated.fadeInDown комплекс цифровых услуг
      %h3.promo.text-center
        .promo-item.animated.fadeInLeft Веб-разработка.
        .promo-item.animated.fadeInUp Дизайн.
        .promo-item.animated.fadeInDown Иллюстрация.
        .promo-item.animated.fadeInRight Фотография.
