- set_meta_tags title: 'О нас'

%article.single-page
  .container-fluid
    .row.entry-content
      .col-md-4
        %h1.text-center
          О нас

      .col-md-6
        .lead.text-right
          %p Привет!
          %p Давай знакомиться.
    .row.entry-content
      .col-md-5.col-md-offset-5
        %p <b>TONNA</b> - это молодая сплоченная команда специалистов, способных решать задачи любой сложности в области иллюстрации, графического дизайна и разработки веб-сайтов.
        %p Мы любим свое дело!
        %p Мы не выбираем себе легких путей и идем в ногу со временем, придерживаясь новым трендам как в дизайне, так и в разработке.
