- set_meta_tags description: t('seo.main.desc'),
  keywords: t('seo.main.keys')

= render 'intro'
= render 'all_posts'
=# render 'prices_block'
=# render 'product_block'
=# render 'widget_post'
= render 'post_widget'
=# render 'action_block'
=# render 'instafeed'
=# render 'subscribe_block'