- set_meta_tags title: 'Админы'

%article.single-post
  .container-fluid
    .row.meta
      .col-md-12
        %table.table.table-striped
          - @users.each do |user|
            %tr
              %td= user.email
