.col-md-4.col-sm-6.post-grid-wrapper
  %article
    = link_to project_mini, class: 'post-thumbnail' do
      = lazy_image_tag project_mini.preview.url(:thumb)

    .post-summary
      %h2.post-title
        = link_to project_mini.desc, project_mini
      .post-meta
        %span.post-categories
          - project_mini.tag_list.each do |tag|
            = link_to tag, projects_path(by_tag: tag)
            %span>= ', ' unless tag == project_mini.tag_list.last
